// loop through the font weights and create a @font-face for each
$font-weights: (
    100: 100,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700
);

@each $weight, $value in $font-weights {
    @font-face {
        font-family: "Inter";
        src: local('Inter'),
            url('./fonts/inter/inter-#{$weight}') format('woff2');
        font-weight: $value;
        font-style: normal;
        font-display: swap;
    }
}